<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eyerange.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:textColor="#FFFFFF"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eyerange.app.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="utilities.Scanner" >
        </activity>
        <activity android:name="com.eyerange.app.MainActivity" >
        </activity>
        <activity android:name="networkUtilities.JSONParser" >
        </activity>

        <service
            android:name="com.radiusnetworks.ibeacon.IBeaconIntentProcessor"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BLUETOOTH" >
            <meta-data
                android:name="background"
                android:value="true" />

            <intent-filter android:priority="1" >
                <action android:name="uk.ac.aber.astute.mfc1.ibeacon_demo.DID_RANGING" />
                <action android:name="uk.ac.aber.astute.mfc1.ibeacon_demo.DID_MONITORING" />
            </intent-filter>
        </service>
        <service
            android:name="com.radiusnetworks.ibeacon.service.IBeaconService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="false"
            android:label="iBeacon"
            android:permission="android.permission.BLUETOOTH" >
        </service>

        <activity
            android:name="com.eyerange.app.HoleActivity"
            android:label="@string/title_activity_hole" >
        </activity>
        <activity
            android:name="com.eyerange.app.GoToHole"
            android:label="@string/title_activity_go_to_hole" >
        </activity>
    </application>

</manifest>